<header>
  <nav class="navbar navbar-expand-lg mx-5 py-4">
    <div class="container-fluid d-flex justify-content-between align-items-center p-0">  
      <a class="navbar-brand" href="#">
        <img src="{{ asset('assets/img/logo.png') }}" alt="Logo" width="157" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars toggle"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fs-4" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="#">Nos services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="#">Nos occasions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="#">Contact</a>
          </li>
        </ul>
          <a class="btn button-p  fs-4" href="#">Se connecter</a>
      </div>
    </div>
  </nav>
</header>