.img-container {
  position: relative;
  display: inline-block;
}

.drop-zone {
  border: 2px dashed rgba(217, 35, 50, 0.2);
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-zone:hover {
  background-color: rgba(217, 35, 50, 0.2);
  border-color: #ffffff;
}

.img-preview {
  box-shadow: 4px 4px 6px rgba(38, 37, 38, 0.5);
}

#imageCarPreview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imageCarPreview img {
  width: 350px;
  height: 245px;
  object-fit: cover;
  border-radius: 16px;
  margin-top: 20px;
}

#imagesCarPreview {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#imagesCarPreview img {
  width: 150px;
  height: 105px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
}

.cross-btn {
  position: absolute;
  top: 20px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #D92332;
  padding: 5px;
  z-index: 1;
  border: none;
}

.car-image {
  width: 120px;
  height: 84px;
}

#carCard {
  margin: 10px 50px;
}

@media screen and (max-width: 1024px) {
  .car-image {
    width: 90px;
    height: 63px;
  }
}

@media screen and (max-width: 768px) {
  .first-input {
    margin-bottom: 24px;
  }

  .car-image {
    width: 120px;
    height: 84px;
  }
}

@media screen and (max-width: 576px) {
  .cross-btn {
    top: 15px;
    right: 0;
    font-size: 12px;
  }

  #imageCarPreview img{
    width: 200px;
    height: 140px;
  }
    
  #imageCarPreview img {
    border-radius: 8px;
  }

  #imagesCarPreview img {
    width: 80px;
    height: 56px;
  }
    
  #imagesCarPreview img {
    border-radius: 4px;
  }

  #carCard {
    margin: 10px 0;
  }
}