.select-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-image input {
  display: none;
}

.select-image label {
  cursor: pointer;
  color: #ffffff;
  background-color: #262526;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: fit-content;
  align-self: center;
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(38, 37, 38, 0.5);
}

.select-image label:hover {
  opacity: 80%;
}

#imagePreview, .current-image {
  width: 300px;
  height: 210px;
  margin: 20px auto;
}

#imagePreview {
  display: none;
}

#imagePreview img, .current-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 4px 4px 6px rgba(38, 37, 38, 0.5);
}

.service-list td {
  color: #262526;
  font-size: 14px;
}

.service-image {
  width: 130px;
  height: 91px;
  border-radius: 8px;
}

#serviceCard {
  margin: 10px 50px;
}

@media screen and (max-width: 768px) {
  .service-image {
    width: 150px;
    height: 105px;
  }
}
  
@media screen and (max-width: 576px) {
  #imagePreview, .current-image {
    width: 180px;
    height: 126px;
    margin: 5px auto;
  }
    
  #imagePreview img, .current-image img {
    border-radius: 8px;
  }
    
  .service-image {
    width: 120px;
    height: 84px;
  }

  #serviceCard {
    margin: 10px 0;
  }
}
