/* CAR-CARD */
.card {
  overflow: hidden; 
  border-radius: 32px; 
  box-shadow: 8px 8px 8px rgba(15, 15, 15, 0.3);
}

.card-text {
  color: #262526;
}

.card-price {
  color: white; 
  background-color:#D94350; 
  padding: 10px 15px;
  border-radius: 32px;
  font-size: 16px;
}

#toggleFiltersBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Cacher les filtres par défaut */
  #filters {
    display: none;
  }
  
  /* Afficher le bouton "Filtres" */
  #toggleFiltersBtn {
    display: block;
    margin-bottom: 10px; /* Espacement du bouton */
  }
}

@media screen and (max-width: 576px) {
  .card {
    border-radius: 0px; 
    box-shadow: none;
  }

  .card-price { 
    padding: 5px 10px;
    border-radius: 16px;
  }
}