{% extends 'base.html.twig' %}

{% block title %}Admin - Utilisateurs{% endblock %}

{% block body %}

{% include "partials/_header-admin.html.twig" %}

  <div class="container mt-6">
    <h3 class="text-general text-center">Bienvenue sur votre espace professionnel</h3>
  </div>
  
{% endblock %}
