{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le Mot de Passe{% endblock %}

{% block body %}
  <div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
  </div>
  <div class="container">
    <h1 class="text-center text-general h1">Réinitialiser le Mot de Passe</h1>
    <form id="adminForm" method="post" action="{{ path('handle_reset_password', {'token': resetToken}) }}">
      <label class="form-label" for="password">Nouveau mot de passe:</label>
      <input class="form-control" type="password" id="password" name="password" minlength="8" required>
      <div class="d-flex justify-content-center">
        <button class="btn-create mt-4" type="submit">Réinitialiser</button>
      </div>
    </form>
  </div>
{% endblock %}
